{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Congratulations!</strong> Your text has been analyzed!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container">
        <div class="h5 pb-2 mb-4 text-black border-bottom border-black">
            <h4>Modifications:</h4>
            <ul>
                {% for purpose in purposes %}
                <li>{{ purpose }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="h5 pb-2 mb-4 text-black border-bottom border-black">
            <h4>Text Analysis Results:</h4>
            <pre><p>{{ analyzed_text }}</p></pre>
        </div>
    </div>
</div>
{% endblock %}
