{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 60px;">
<form action='/analyze' method='post'> {% csrf_token %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Welcome to Text Utils!</strong> Edit your text with just One Click!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="h5 pb-2 mb-4 text-black border-bottom border-black">
        <label for="exampleFormControlTextarea1" class="form-label">Enter Your Text Here:</label>
    </div>

    <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="10"></textarea><br>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name='removepunc' role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Remove Punctuations</label>
    </div>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name='fullcaps' role="switch" id="flexSwitchCheckDefault1">
        <label class="form-check-label" for="flexSwitchCheckDefault1">UPPERCASE</label>
    </div>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name='newlineremover' role="switch"
               id="flexSwitchCheckDefault2">
        <label class="form-check-label" for="flexSwitchCheckDefault2">New Line Remover</label>
    </div>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name='charcounter' role="switch"
               id="flexSwitchCheckDefault3">
        <label class="form-check-label" for="flexSwitchCheckDefault3">Character Counter</label>
    </div>

    <button type="submit" class="btn btn-outline-dark mt-2">Analyze Text</button>
</form>
</div>
{% endblock %}
